
/*Media q for phones*/
@media (min-width: 768px)
{
    /* Landing page Styling */
    body
    {
        background-color: darksalmon;
    }

    .TeamHD
    {
        font-size: 100px;
        letter-spacing: 0.06em;
        text-align: center;
    }

    .Members {
        position:relative;
        font-size:60px;
        margin-bottom: 200px;
        text-align: center;
        height:50%;
        background-color: white;
        border-radius: 15px;
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    }


    .socialMedia{
        height: 50%;
        position:relative;
        display:block;
        width:100%;
        border-radius: 15px;
        background-color: #f2f2f2;
        font-size: 60px;
        text-align: center;
        margin-bottom: 200px;
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    }

    .infoContainer{
        position:relative;
        font-size:60px;
        margin-bottom: 200px;
        text-align: center;
        height:50%;
        background-color: white;
        border-radius: 15px;
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    }



    .GetStartedBtn
    {
        position:relative;
        display:inline-block;
        background-color: #D77B1A;
        color: black;
        padding: 15px 32px;
        font-weight: bold;
        font-size:80px;
        cursor: pointer;
        border-radius: 12px;
        border: 10px solid #D77B1A;
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    }





    /* Landing page Styling ENDS*/

    /*app page Styling*/

    .displayChallenges{
        display:none;
        position:absolute;
        top:300px;
        left:70px;
    }



    /* The Modal (background) */
    .modal {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        padding-top: 500px; /* Location of the box */
        left: 0;

        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    }

    /* Modal Content */
    .modal-content {
        background-color: #fefefe;
        margin: auto;
        text-align: center;
        padding: 20px;
        font-weight: bolder;
        border: 20px solid #D77B1A;;
        width: 80%;
    }

    .pointsModal{
        font-weight: bolder;
        list-style:none;
    }

    /* The Close Button */
    .close {
        color: #aaaaaa;
        float: right;
        font-size: 100px;
        font-weight: bold;
    }

    .close:hover,
    .close:focus {
        color: #000;
        text-decoration: none;
        cursor: pointer;
    }

    .pointsModal{
        font-size:30px;
        left:500px;
    }


    .intANS{

        position:absolute;
        font-size:50px;
        visibility:hidden;
        top:1000px;
        width: 40%;
        margin-left:300px;
        border-radius: 12px;
        border: 10px solid #D77B1A;
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    }

    .numericANS{
        position:absolute;
        left:0px;
        font-size:50px;
        visibility:hidden;
        top:1000px;
        width: 40%;
        margin-left:300px;
        border-radius: 12px;
        border: 10px solid #D77B1A;
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    }

    .textANS{

        position:absolute;
        font-size:50px;
        visibility:hidden;
        top:950px;
        width: 40%;
        left:5px;
        border-radius: 12px;
        border: 10px solid #D77B1A;
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);

    }


    /* Add a black background color to the top navigation */
    .topnav {
        position:relative;
        padding: 3% 10%;
        width: 100%;
        height: 100px;
        background: #D77B1A;
        margin-bottom:120px;
    }

    .questionIndexContainer{
        position:absolute;
        display:none;
        left:450px;
        top:800px;
    }

    .questionIndexP{
        font-size: 50px;
        font-weight: bold;
    }

    .answer{
        display:block;
    }

    .messagesContainer{
        display:inline-block;
        position:absolute;
        font-size:50px;
        font-weight:bold;
        top: 75%;
        left: 60%;
        margin-right: -50%;
        transform: translate(-50%, -50%)
    }


    .specificMessage{
        display: none;
        text-align: center;

    }

    .scoreContainer{
        display:inline-block;
        position:absolute;
        font-size:50px;
        font-weight:bold;
        top: 80%;
        left: 60%;
        margin-right: -50%;
        transform: translate(-50%, -50%)
    }

    .intBtn{
        position:relative;
        visibility: hidden;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 50px;
        margin-left:700px;
        font-weight: bold;
        top:960px;
        border-radius: 12px;
        padding: 15px 32px;
        border: 10px solid #D77B1A;
        background-color: #D77B1A;
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    }
    .numericBtn{
        position:relative;
        visibility: hidden;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 50px;
        margin-left:700px;
        font-weight: bold;
        top:820px;
        border-radius: 12px;
        padding: 15px 32px;
        border: 10px solid #D77B1A;
        background-color: #D77B1A;
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);

    }

    .textBtn{
        position:absolute;
        visibility: hidden;
        background-color: #D77B1A;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 50px;
        left:510px;
        font-weight: bold;
        top:1215px;
        border-radius: 12px;
        border: 10px solid #D77B1A;
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    }

    .trueBtn{
        position:absolute;
        visibility: hidden;
        background-color: #D77B1A;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 40px;
        left:65px;
        font-weight: bold;
        top:1300px;
        border-radius: 12px;
        border: 10px solid #D77B1A;
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);

    }

    .falseBtn{
        position:absolute;
        visibility: hidden;
        background-color: #D77B1A;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 40px;
        left:465px;
        font-weight: bold;
        top:1300px;
        border-radius: 12px;
        border: 10px solid #D77B1A;
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    }



    .skip {
        position:absolute;
        background: none!important;
        visibility: hidden;
        color: black;
        font-size:50px;
        text-decoration: none;
        font-weight:bold;
        left:200px;
        top:1800px;
        width:40%;
        padding: 40px 50px;
        border-radius: 12px;
        border: 10px solid #D77B1A;
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
        background-color: #D77B1A;
    }
    .mcqBtnA{
        position:absolute;
        visibility: hidden;
        background-color: #D77B1A;
        padding: 20px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 50px;
        left:25px;
        font-weight: bold;
        top:1300px;
        border-radius: 12px;
        border: 10px solid #D77B1A;
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    }
    .mcqBtnB{
        position:absolute;
        visibility: hidden;
        background-color: #D77B1A;
        padding: 20px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 50px;
        left:225px;
        font-weight: bold;
        top:1300px;
        border-radius: 12px;
        border: 10px solid #D77B1A;
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    }

    .mcqBtnC{
        position:absolute;
        visibility: hidden;
        background-color: #D77B1A;
        padding: 20px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 50px;
        left:420px;
        font-weight: bold;
        top:1300px;
        border-radius: 12px;
        border: 10px solid #D77B1A;
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    }
    .mcqBtnD{
        position:absolute;
        visibility: hidden;
        background-color: #D77B1A;
        padding: 20px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 50px;
        left:625px;
        font-weight: bold;
        top:1300px;
        border-radius: 12px;
        border: 10px solid #D77B1A;
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    }
    /* Style the links inside the navigation bar */
    .refresh{
        float:right;
        color: black;
        display:none;
        padding: 5px 16px;
        text-decoration: none;
        font-weight: bold;
        font-size:50px;
    }

    .homeBtn {
        position:absolute;
        display:inline-block;
        background-color: #D77B1A;
        border-radius: 12px;
        border: 10px solid #D77B1A;
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
        color: black;
        padding: 15px 32px;
        font-weight: bold;
        font-size:50px;
        margin: 4px 2px;
        cursor: pointer;
        left:0px;
        top:20px;
    }

    .restartBtn {
        position:absolute;
        display:inline-block;
        background-color: #D77B1A;
        color: black;
        padding: 15px 32px;
        font-weight: bold;
        font-size:50px;
        margin: 4px 2px;
        cursor: pointer;
        left:300px;
        top:20px;
        border-radius: 12px;
        border: 10px solid #D77B1A;
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    }

    .startNewBtn{
        position:absolute;
        display:none;
        background-color: #D77B1A;
        color: black;
        padding: 15px 32px;
        font-weight: bold;
        font-size:50px;
        margin: 4px 2px;
        cursor: pointer;
        left:600px;
        top:20px;
        border-radius: 12px;
        border: 10px solid #D77B1A;
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    }
    .qrContainer{
        display:none;
    }

    .toggleCamera{
        position:absolute;
        display:inline-block;
        background-color: #D77B1A;
        color: black;
        padding: 15px 32px;
        font-weight: bold;
        font-size:50px;
        margin: 4px 2px;
        cursor: pointer;
        left:560px;
        top:200px;
        border-radius: 12px;
        border: 10px solid #D77B1A;
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    }

    .switchCamera{
        position:absolute;
        display:inline-block;
        background-color: #D77B1A;
        color: black;
        padding: 15px 32px;
        font-weight: bold;
        font-size:50px;
        left:30px;
        margin: 4px 2px;
        cursor: pointer;
        top:200px;
        border-radius: 12px;
        border: 10px solid #D77B1A;
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    }

    .copyClipboard{
        position:absolute;
        display:inline-block;
        background-color: #D77B1A;
        color: black;
        padding: 15px 32px;
        font-weight: bold;
        font-size:50px;
        margin: 4px 2px;
        cursor: pointer;
        top:200px;
        left:880px;
        border-radius: 12px;
        border: 10px solid #D77B1A;
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    }

    .resultContainer{
        position:absolute;
        display:inline;
        background-color: #D77B1A;
        color: black;
        padding: 15px 32px;
        font-weight: bold;
        font-size:50px;
        cursor: pointer;
        top:400px;
        margin-left:50px;
        width:100%;
        border-radius: 12px;
        border: 10px solid #D77B1A;
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    }

    .preview{
        position:absolute;
        top:520px;
        left:350px;
        width:500px;
        height:300px;
    }

    .contentContainer{
        position:relative;
        text-align: center;
    }



    .infoBtn{
        position:absolute;
        display:inline-block;
        background-color: #D77B1A;
        color: black;
        padding: 15px 32px;
        font-weight: bold;
        font-size:50px;
        margin: 4px 2px;
        cursor: pointer;
        left:950px;
        top:20px;
        border-radius: 12px;
        border: 10px solid #D77B1A;
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    }


    .ChallengesHD
    {
        position: relative;
        font-size: 100px;
        letter-spacing: 0.06em;
        left:200px;
        margin-top:0px;
    }

    .ViewChallenges
    {
        position:relative;
        margin-bottom: 50px;
        font-size:50px;
        left:150px;
    }



    li{
        position:relative;
        padding-bottom: 60px;
        list-style-type: none;
    }


    a {
        font-weight: bolder;
        color: black;
        margin-left:10px;
        border-left: 30px;
        font-family: Lucidatypewriter, monospace;
        font-size: 60px;
        text-align: center;


    }

    #buttonHandleList
    {
        position:absolute;
        font-size: 50px;
        top:450px;
        left:100px;
        border-radius: 25em;
        border: 2px solid black;
    }

    .treasureHunts
    {
        font-family: Lucidatypewriter, monospace;
        bottom: 0;
        width: 100%;
        display: inline;
        list-style-type: none;
        text-align: center;
        font-size: 50px;
    }

    #message
    {
        background-color: lightblue;
    }

    .displayQuestions{
        position:absolute;
        display:none;
        margin-left:300px;
        margin-top:750px;
    }
    .questionMessage{
        position:relative;
        font-size: 3rem;
        font-weight: bold;
        display:inline;
        text-align: center;
    }


    .swal-title{
        font-size:50px;
    }

    .swal-text{
        font-size:50px;
    }
    .swal-modal{
        width: 100%;
    }
    .swal-button--confirm{
        margin-right: 400px;
        font-size: 50px;
        padding:20px;
    }
    .swal-button--cancel{
        font-size: 50px;
        padding:20px;
    }

    .heading{
        position:absolute;
        left:50px;
    }

    #uname{
        font-size:100px;
        height:100px;
   }

    button{
        font-size:30px;
        margin-top:30px;
        margin-left:200px;
    }

    /*app page Styling ENDS*/


    .notes
    {
        font-size:50px;
    }

    input{
        width: 35%;
        padding: 12px 20px;
        margin-left:300px;
        margin-top:300px;
        box-sizing: border-box;
        border: 2px solid darksalmon;
        border-radius: 4px;
    }
    #test{
        font-size: 40px;
        background-color: #e7e7e7; color: black;
        border-radius: 4px;
        position:relative;
        margin-left:400px;
        margin-top:20px;
    }

    .leaderboardTable {

        font-family: Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 100%;
        position:absolute;
        top: 50%;
        left: 10%;
    }

    .leaderboardTable td,  .leaderboardTable  th {
        border: 1px solid #ddd;
        padding: 25px;
        font-size:40px;
        text-align: center;
    }

    .leaderboardTable  tr:nth-child(even){
        background-color: #f2f2f2;
    }
    .leaderboardTable th {
        padding-top: 12px;
        padding-bottom: 12px;
        background-color: #D77B1A;
        color: black;
        text-align: center;
    }

    .tableContainer{
        display:block;
        position:relative;
    }

    .loading{
        font-size:70px;
        margin-left:450px;
    }

    .loadingQuestionsM{
        font-size:70px;
        margin-left:100px;
    }
    .scoreDisplay{
        position:relative;
        display:block;
        text-align: center;
        font-size:40px;
        left:50px;
        margin-top:20px;
        font-family: Lucidatypewriter, monospace;
        width: 100%;
    }
    .hasPrizeContainer{
        position:relative;
        display:none;
        text-align: center;
        font-size:50px;
        left:50px;
        font-family: Lucidatypewriter, monospace;
        width: 100%;
    }

    .refreshBtn{
        font-size:50px;
        font-weight: bold;
        border-radius: 12px;
        padding: 15px 32px;
        border: 10px solid #D77B1A;
        background-color: #D77B1A;
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    }
    .refreshBtnContainer{
        display:block;
        position:relative;
        left:200px;
    }

    /*register page styling stars*/
    .Tname {
        position:relative;
        width: 80%;
        border-radius: 12px;
        margin-left:100px;
        padding:20px;
        font-size: 50px;
        border: 1px solid #ccc;
        box-sizing: border-box;
        margin-top: 100px;
        margin-bottom: 16px;
        resize: vertical;
    }

    input[type=submit] {
        color: white;
        padding: 12px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;

    }

    input[type=submit]:hover {
        background-color: #45a049;
    }

    .container {
        position:absolute;
        display:block;
        border-radius: 5px;
        background-color: #f2f2f2;
        padding: 20px;
        margin-top:600px;
        left:150px;
    }
    .nameBtn{
        position:relative;
        display:inline-block;
        font-size:50px;
        left:55px;
        font-weight: bold;
        border-radius: 12px;
        padding: 15px 32px;
        border: 10px solid #D77B1A;
        background-color: #D77B1A;
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    }

    .HD{
        white-space: nowrap;
        position:absolute;
        top:400px;
        display:inline-block;
        margin-left:200px;
        font-size:70px;
    }

    .challengesLoading{
        display:inline-block;
        font-size: 70px;
        position:absolute;
        top: 50%;
        left: 40%;
    }

    .loadingMessageContainer{
        display:none;
    }



}




    /*Media q for tablets*/
@media (min-width: 992px)
{




}



/* TEST PAGE STYLING*/

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}

.unitTestHD{
    text-align: center;
}

.unitTestContainer{
    text-align: center;
}
.LBTableContainer{
    text-align: center;
    position:relative;
    display:none;
}

.ScoreTableContainer{
    text-align: center;
    position:relative;
    display:none;
}

.QuestionsTableContainer{
    text-align: center;
    position:relative;
    display:none;
}

.ScoreTableContainer{
    text-align: center;
    position:relative;
    display:none;
}
.checkboxes{
    margin-top: 20px;
    margin-bottom: 20px;
}

.submitLdboards .submitScore{
    position:relative;
}
.prizeP{
    position:relative;
    display:none;
}
.sortedP{
    position:relative;
    display:none;
}
.completedQP{
    position:relative;
    display:none;
}
.skipP{
    position:relative;
    display:none;
}
.geolocationP{
    position:relative;
    display:none;
}
.qType{
    position:relative;
    font-size:16px;
    font-weight: bold;
}

/* UAT PAGE STYLING*/

.UATHD{
    position: relative;
    top:100px;
    font-size: 2.1rem;
    text-align: center;
    margin-bottom:20%;
}

.navBtn{
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
}

.UATContainer{
    padding: 10px;
    position:relative;
    border-radius: 5px;
    font-size: 1.8rem;
    box-shadow: 0 0 5px 2px rgb(0 0 0 / 23%);
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    margin-top: 150px;
}
#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: red;
    color: white;
    cursor: pointer;
    padding: 5px;
    border-radius: 4px;
    opacity: 0.3;
}

#myBtn:hover {
    background-color: #555;
}

.UATTableContainer{
    text-align: center;
    position:relative;
    padding: 10px;
    position:relative;
    border-radius: 5px;
    font-size: 1.8rem;
    box-shadow: 0 0 5px 2px rgb(0 0 0 / 23%);
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    margin-top: 150px;
}



