




/*Media q for phones*/
@media (min-width: 768px)
{
    /* Landing page Styling */
    body
    {
        background-color: darksalmon;
    }

    .TeamHD
    {
        position: relative;
        font-size: 100px;
        letter-spacing: 0.06em;
        left:250px;
    }

    .Members
    {

        position:relative;
        font-size:60px;
        margin-bottom: 200px;
        left:400px;
    }

    .InfoAbUs
    {
        position: relative;
        font-size: 100px;
        letter-spacing: 0.06em;
        left:250px;
    }

    .Info
    {
        position:relative;
        margin-bottom: 50px;
        font-size: 60px;
        text-align: justify;
        left:250px;
    }

    .GetStartedBtn
    {
        position:absolute;
        font-size: 100px;
        margin-top:1500px;
        left:700px;
        border-radius: 25em;
        border: 2px solid black;
    }

    .NotesBtn
    {
        position:absolute;
        font-size: 100px;
        margin-top:1500px;
        left:2px;
        border-radius: 25em;
        border: 2px solid black;
    }



    .twitterSection
    {
        position:absolute;
        height:1000px;
        width: 1000px;
        margin-top:200px;
        left:200px;
        background:#707070;

    }

    /* Landing page Styling ENDS*/

    /*app page Styling*/


    .BrainstormHD{
        position:relative;
        font-size: 50px;
        margin-top:0px;
        margin-left:0px;
        color: black;
        float:left;
        font-weight: bold;
    }

    .intANS{
        position:absolute;
        font-size:50px;
        visibility:hidden;
        top:750px;
        margin-left:300px;
    }

    .numericANS{
        position:absolute;
        font-size:50px;
        visibility:hidden;
        top:750px;
        left:10px;
    }

    .textANS{
        position:absolute;
        font-size:50px;
        visibility:hidden;
        top:750px;
        left:100px;
    }


    /* Add a black background color to the top navigation */
    .topnav {
        position:relative;
        padding: 3% 10%;
        width: 100%;
        height: 50px;
        background: #D77B1A;
        margin-bottom:120px;
        margin-left:0px;
        margin-right:0px;
    }

    .questionIndexContainer{
        position:absolute;
        display:none;
        font-size: 40px;
        left:350px;
        top:500px;
    }

    .answer{
        display:block;
    }

    .note{
        visibility:hidden;
        position:absolute;
        font-size:50px;
        font-weight:bold;
        margin-top:900px;
        margin-left:400px;
    }

    .score{
        position:absolute;
        visibility:hidden;
        font-size: 50px;
        margin-top:0px;
        margin-left:0px;
        color: black;
        float:left;
        font-weight: bold;
        font-size:50px;
        font-weight: bold;
    }

    .intBtn{
        position:relative;
        visibility: hidden;
        background-color: #D77B1A;
        border: none;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 50px;
        margin-left:700px;
        font-weight: bold;
        top:770px;
    }
    .numericBtn{
        position:absolute;
        visibility: hidden;
        background-color: #D77B1A;
        border: none;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: block;
        font-size: 50px;
        font-weight: bold;
        top:770px;
        margin-left:670px;

    }

    .textBtn{
        position:absolute;
        visibility: hidden;
        background-color: #D77B1A;
        border: none;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 50px;
        left:550px;
        font-weight: bold;
        top:1100px;
    }

    .trueBtn{
        position:absolute;
        visibility: hidden;
        background-color: #D77B1A;
        border: none;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 40px;
        left:50px;
        font-weight: bold;
        top:870px;

    }

    .falseBtn{
        position:absolute;
        visibility: hidden;
        background-color: #D77B1A;
        border: none;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 40px;
        left:450px;
        font-weight: bold;
        top:870px;
    }

    .skip {
        float:right;
        position:absolute;
        background: none!important;
        visibility: hidden;
        border: none;
        padding: 0!important;
        color: black;
        font-size:50px;
        text-decoration: none;
        font-weight:bold;
        margin-left:500px;
        margin-top:0px;
    }
    .mcqBtnA{
        position:absolute;
        visibility: hidden;
        background-color: #D77B1A;
        border: none;
        padding: 20px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 50px;
        left:5px;
        font-weight: bold;
        top:950px;
    }
    .mcqBtnB{
        position:absolute;
        visibility: hidden;
        background-color: #D77B1A;
        border: none;
        padding: 20px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 50px;
        left:200px;
        font-weight: bold;
        top:950px;
    }

    .mcqBtnC{
        position:absolute;
        visibility: hidden;
        background-color: #D77B1A;
        border: none;
        padding: 20px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 50px;
        left:395px;
        font-weight: bold;
        top:950px;
    }
    .mcqBtnD{
        position:absolute;
        visibility: hidden;
        background-color: #D77B1A;
        border: none;
        padding: 20px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 50px;
        left:600px;
        font-weight: bold;
        top:950px;
    }
    /* Style the links inside the navigation bar */
    .refresh{
        float:right;
        color: black;
        padding: 5px 16px;
        text-decoration: none;
        font-size: 40px;
        font-weight: bold;
        font-size:50px;
    }





    .ChallengesHD
    {
        position: relative;
        font-size: 100px;
        letter-spacing: 0.06em;
        left:200px;
        margin-top:0px;
    }

    .ViewChallenges
    {
        position:relative;
        margin-bottom: 50px;
        font-size:50px;
        left:150px;
    }

    #challenges
    {
        list-style-type: upper-roman;
    }

    li{
        position:relative;
        margin-left:260px;
        padding-bottom: 60px;
    }


    a {
        font-weight: bolder;
        font-size: 30px;
        color: black;
        text-decoration: none;
        margin-left:10px;

    }

    #buttonHandleList
    {
        position:absolute;
        font-size: 50px;
        top:450px;
        left:100px;
        border-radius: 25em;
        border: 2px solid black;
    }

    #treasureHunts
    {
        position:absolute;
        font-size: 50px;
        top:650px;
        left:100px;
    }

    #message
    {
        background-color: lightblue;
    }

    .loader{
        font-size:2.5rem;
        position:absolute;
        display:none;
        margin-left:300px;
        margin-top:500px;
    }

    .heading{
        position:absolute;
        left:50px;
    }

    #uname{
        font-size:100px;
        height:100px;
   }

    button{
        font-size:30px;
        margin-top:30px;
        margin-left:200px;
    }

    /*app page Styling ENDS*/

    /*note page Styling*/

    .notes
    {
        font-size:50px;
    }

    input{
        width: 35%;
        padding: 12px 20px;
        margin-left:300px;
        margin-top:300px;
        box-sizing: border-box;
        border: 2px solid darksalmon;
        border-radius: 4px;
    }
    #test{
        font-size: 40px;
        background-color: #e7e7e7; color: black;
        border-radius: 4px;
        position:relative;
        margin-left:400px;
        margin-top:20px;
    }
}

/*Media q for tablets*/
@media (min-width: 992px)
{

    .ChallengesHD
    {
        position: relative;
        font-size: 100px;
        letter-spacing: 0.06em;
        left:300px;
    }

    .ViewChallenges
    {
        position:relative;
        margin-bottom: 50px;
        font-size:50px;
        left:250px;
    }

    #challenges
    {
        list-style-type: upper-roman;
    }

    li{
        position:relative;
        margin-left:300px;
        padding-bottom: 60px;
    }


    a {
        font-weight: bolder;
        font-size: 50px;
        color: black;
        text-decoration: none;
        margin-left:10px;

    }


}







