




/*Media q for phones*/
@media (min-width: 768px)
{
    /* Landing page Styling */
    body
    {
        background-color: darksalmon;
    }

    .TeamHD
    {
        position: relative;
        font-size: 100px;
        letter-spacing: 0.06em;
        left:250px;
    }

    .Members
    {

        position:relative;
        font-size:60px;
        margin-bottom: 200px;
        left:400px;
    }

    .InfoAbUs
    {
        position: relative;
        font-size: 100px;
        letter-spacing: 0.06em;
        left:250px;
    }

    .Info
    {
        position:relative;
        margin-bottom: 50px;
        font-size: 60px;
        text-align: justify;
        left:250px;
    }

    .GetStartedBtn
    {
        position:absolute;
        font-size: 100px;
        margin-top:1500px;
        left:700px;
        border-radius: 25em;
        border: 2px solid black;
    }

    .NotesBtn
    {
        position:absolute;
        font-size: 100px;
        margin-top:1500px;
        left:2px;
        border-radius: 25em;
        border: 2px solid black;
    }



    .twitterSection
    {
        position:absolute;
        height:1000px;
        width: 1000px;
        margin-top:200px;
        left:200px;
        background:#707070;

    }

    /* Landing page Styling ENDS*/

    /*app page Styling*/

    .displayChallenges{
        display:none;
        position:absolute;
        top:300px;
    }


    .intANS{
        position:absolute;
        font-size:50px;
        visibility:hidden;
        top:750px;
        width: 40%;
        margin-left:300px;
        border-radius: 12px;
        border: 10px solid #D77B1A;
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    }

    .numericANS{
        position:absolute;
        font-size:50px;
        visibility:hidden;
        top:750px;
        left:10px;
    }

    .textANS{
        position:absolute;
        font-size:50px;
        visibility:hidden;
        top:750px;
        width: 40%;
        left:5px;
        border-radius: 12px;
        border: 10px solid #D77B1A;
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);

    }


    /* Add a black background color to the top navigation */
    .topnav {
        position:relative;
        padding: 3% 10%;
        width: 100%;
        height: 100px;
        background: #D77B1A;
        margin-bottom:120px;
        margin-left:0px;
        margin-right:0px;
    }

    .questionIndexContainer{
        position:absolute;
        display:none;
        left:400px;
        top:500px;
    }

    .questionIndexP{
        font-size: 50px;
        font-weight: bold;
    }

    .answer{
        display:block;
    }

    .messagesContainer{
        display:inline-block;
        position:absolute;
        font-size:50px;
        font-weight:bold;
        margin-top:900px;
        margin-left:200px;
    }

    .specificMessage{
        position:absolute;
        display: none;
        top:500px;
        white-space: nowrap;
    }

    .scoreContainer{
        position:absolute;
        display:none;
        font-size: 50px;
        margin-top:0px;
        margin-left:240px;
        color: black;
        float:left;
        font-weight: bold;

    }

    .intBtn{
        position:relative;
        visibility: hidden;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 50px;
        margin-left:700px;
        font-weight: bold;
        top:730px;
        border-radius: 12px;
        padding: 15px 32px;
        border: 10px solid #D77B1A;
        background-color: #D77B1A;
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    }
    .numericBtn{
        position:absolute;
        visibility: hidden;
        background-color: #D77B1A;
        border: none;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: block;
        font-size: 50px;
        font-weight: bold;
        top:770px;
        margin-left:670px;

    }

    .textBtn{
        position:absolute;
        visibility: hidden;
        background-color: #D77B1A;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 50px;
        left:510px;
        font-weight: bold;
        top:1015px;
        border-radius: 12px;
        border: 10px solid #D77B1A;
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    }

    .trueBtn{
        position:absolute;
        visibility: hidden;
        background-color: #D77B1A;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 40px;
        left:50px;
        font-weight: bold;
        top:870px;
        border-radius: 12px;
        border: 10px solid #D77B1A;
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);

    }

    .falseBtn{
        position:absolute;
        visibility: hidden;
        background-color: #D77B1A;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 40px;
        left:450px;
        font-weight: bold;
        top:870px;
        border-radius: 12px;
        border: 10px solid #D77B1A;
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    }



    .skip {
        position:absolute;
        background: none!important;
        visibility: hidden;
        color: black;
        font-size:50px;
        text-decoration: none;
        font-weight:bold;
        left:200px;
        top:2100px;
        width:40%;
        padding: 40px 50px;
        border-radius: 12px;
        border: 10px solid #D77B1A;
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
        background-color: #D77B1A;
    }
    .mcqBtnA{
        position:absolute;
        visibility: hidden;
        background-color: #D77B1A;
        padding: 20px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 50px;
        left:25px;
        font-weight: bold;
        top:950px;
        border-radius: 12px;
        border: 10px solid #D77B1A;
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    }
    .mcqBtnB{
        position:absolute;
        visibility: hidden;
        background-color: #D77B1A;
        padding: 20px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 50px;
        left:225px;
        font-weight: bold;
        top:950px;
        border-radius: 12px;
        border: 10px solid #D77B1A;
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    }

    .mcqBtnC{
        position:absolute;
        visibility: hidden;
        background-color: #D77B1A;
        padding: 20px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 50px;
        left:420px;
        font-weight: bold;
        top:950px;
        border-radius: 12px;
        border: 10px solid #D77B1A;
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    }
    .mcqBtnD{
        position:absolute;
        visibility: hidden;
        background-color: #D77B1A;
        padding: 20px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 50px;
        left:625px;
        font-weight: bold;
        top:950px;
        border-radius: 12px;
        border: 10px solid #D77B1A;
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    }
    /* Style the links inside the navigation bar */
    .refresh{
        float:right;
        color: black;
        display:none;
        padding: 5px 16px;
        text-decoration: none;
        font-weight: bold;
        font-size:50px;
    }

    .homeBtn {
        position:absolute;
        display:inline-block;
        background-color: #D77B1A;
        border-radius: 12px;
        border: 10px solid #D77B1A;
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
        color: black;
        padding: 15px 32px;
        font-weight: bold;
        font-size:50px;
        margin: 4px 2px;
        cursor: pointer;
        left:0px;
        top:20px;

    }

    .restartBtn {
        position:absolute;
        display:inline-block;
        background-color: #D77B1A;
        color: black;
        padding: 15px 32px;
        font-weight: bold;
        font-size:50px;
        margin: 4px 2px;
        cursor: pointer;
        left:250px;
        top:20px;
        border-radius: 12px;
        border: 10px solid #D77B1A;
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    }

    .infoBtn{
        position:absolute;
        display:inline-block;
        background-color: #D77B1A;
        color: black;
        padding: 15px 32px;
        font-weight: bold;
        font-size:50px;
        margin: 4px 2px;
        cursor: pointer;
        left:950px;
        top:20px;
        border-radius: 12px;
        border: 10px solid #D77B1A;
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    }


    .ChallengesHD
    {
        position: relative;
        font-size: 100px;
        letter-spacing: 0.06em;
        left:200px;
        margin-top:0px;
    }

    .ViewChallenges
    {
        position:relative;
        margin-bottom: 50px;
        font-size:50px;
        left:150px;
    }

    #challenges
    {
        list-style-type: upper-roman;
    }

    li{
        position:relative;
        left:200px;
        padding-bottom: 60px;
    }


    a {
        font-weight: bolder;
        font-size: 30px;
        color: black;
        text-decoration: none;
        margin-left:10px;

    }

    #buttonHandleList
    {
        position:absolute;
        font-size: 50px;
        top:450px;
        left:100px;
        border-radius: 25em;
        border: 2px solid black;
    }

    #treasureHunts
    {
        position:absolute;
        font-size: 50px;
        top:650px;
        left:100px;
    }

    #message
    {
        background-color: lightblue;
    }

    .displayQuestions{
        position:absolute;
        display:none;
        margin-left:300px;
        margin-top:500px;
    }
    .questionMessage{
        position:relative;
        font-size: 50px;
        font-weight: bold;
        display:inline;
        text-align: center;
    }

    .heading{
        position:absolute;
        left:50px;
    }

    #uname{
        font-size:100px;
        height:100px;
   }

    button{
        font-size:30px;
        margin-top:30px;
        margin-left:200px;
    }

    /*app page Styling ENDS*/

    /*note page Styling*/

    .notes
    {
        font-size:50px;
    }

    input{
        width: 35%;
        padding: 12px 20px;
        margin-left:300px;
        margin-top:300px;
        box-sizing: border-box;
        border: 2px solid darksalmon;
        border-radius: 4px;
    }
    #test{
        font-size: 40px;
        background-color: #e7e7e7; color: black;
        border-radius: 4px;
        position:relative;
        margin-left:400px;
        margin-top:20px;
    }

    .leaderboardTable {
        font-family: Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 100%;
        position:absolute;
        left:40px;
    }

    .leaderboardTable td,  .leaderboardTable  th {
        border: 1px solid #ddd;
        padding: 25px;
        font-size:40px;
    }

    .leaderboardTable  tr:nth-child(even){
        background-color: #f2f2f2;
    }
    .leaderboardTable th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        background-color: #D77B1A;
        color: black;

    }

    .tableContainer{
        display:none;
    }

    .loading{
        font-size:70px;
        margin-left:450px;
    }

    .loadingQuestionsM{
        font-size:70px;
        margin-left:100px;
    }

    /*register page styling stars*/
    .Tname {
        position:relative;
        width: 80%;
        border-radius: 12px;
        margin-left:70px;
        padding:20px;
        font-size: 50px;
        border: 1px solid #ccc;
        box-sizing: border-box;
        margin-top: 100px;
        margin-bottom: 16px;
        resize: vertical;
    }

    input[type=submit] {
        color: white;
        padding: 12px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;

    }

    input[type=submit]:hover {
        background-color: #45a049;
    }

    .container {
        position:absolute;
        display:block;
        border-radius: 5px;
        background-color: #f2f2f2;
        padding: 20px;
        margin-top:800px;
        left:150px;
    }
    .nameBtn{
        display:inline-block;
        font-size:50px;
        margin-left:250px;
        font-weight: bold;
        border-radius: 12px;
        padding: 15px 32px;
        border: 10px solid #D77B1A;
        background-color: #D77B1A;
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    }

    .HD{
        position:absolute;
        top:1000px;
        display:inline-block;
        margin-left:200px;
        font-size:70px;
    }

}




    /*Media q for tablets*/
@media (min-width: 992px)
{

    .ChallengesHD
    {
        position: relative;
        font-size: 100px;
        letter-spacing: 0.06em;
        left:300px;
    }

    .ViewChallenges
    {
        position:relative;
        margin-bottom: 50px;
        font-size:50px;
        left:250px;
    }

    #challenges
    {
        list-style-type: upper-roman;
    }

    li{
        position:relative;
        margin-left:300px;
        padding-bottom: 60px;
    }


    a {
        font-weight: bolder;
        font-size: 50px;
        color: black;
        text-decoration: none;
        margin-left:10px;

    }


}







